h1 {
    font-size: 5rem;
    font-weight: 600;
}

/* Main Page Header */
.header-custom {
    height: 60vh;
}

/* Navigation Section */
.navbar-brand img {
    max-height: 60px;
}

.shop-main-coming-soon {
    margin-top: 200px;
}

/* Company Bio Section */
#bio p {
    font-size: 20px;
    margin: 0 15% 10px;
    line-height: 1.5;
}

#features .info {
    padding-top: 50px;
}